*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color:#fff;
    background:#1f2641;


}
.container{
    width:76%;
    margin:0 auto;

}
section{
    padding:6rem 0;


}
section h2{
    text-align:center;
    margin-bottom: 4rem;

}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;

}
h3{
    font-size:1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color:#fff;

}
img{
    width:100%;
    display:block;
    object-fit:cover;
}
.btn{
    display:inline-block;
    background: #fff;
    color:black;
    padding: 1rem 2rem;
    border:1px solid transparent;
    font-weight:500;
    transition: all 400ms ease;

}
.btn:hover{
    background:transparent;
    color:#fff;
    border-color:#fff;

}
.btn-primary{
    background:#f75842;
    color:#fff;
    border-radius: 2rem;

}
nav{
    background: transparent;
    width:100vw;
    height:5rem;
    position:fixed;
    top:0;
    z-index:11;

}
.window-scroll{
    background:#6C63FF;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display:none;

}
.nav_menu{
    display:flex;
    align-items:center;
    gap: 4rem;

}
.nav_menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
}
.nav_menu a:hover{
    color:#2e3267;
}
header{
    position:relative;
    top:5rem;
    overflow:hidden;
    height:70vh;
    margin-bottom: 5rem;
}
.header_container{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    gap:5rem;
    height: 100%;
}
.header_left p{
    margin:1rem 0 2.4rem;
}
.categories{
    background: #2e3267;

}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_container{
    display:grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.categories_left p{
    margin: 1rem 0 3rem;

}
.categories_left{
    margin-right: 4rem;
}
.categories_right{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.category{
    background:#424890;
    padding:2rem;
    border-radius: 2rem;
    transition: all 400ms ease;
    width: 350px;
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba( 0, 0, 0, 0.3);
    z-index: 1;
}

    
.categoy h5{
    margin: 2rem 0 1rem;
    
    

}
.category p{
    font-size: 0.85rem;
}
.category:nth-child(2).category_icon{
    background: #f75842;
}
.services{
    margin-top: 5rem;
    
}
.service_container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
}
.service{
    background:#424890; 
    text-align: center;
    border:1px solid transparent;
    border-radius: 2rem;
}
.service:hover{
    background: transparent;
    border-color:#6C63FF;
}
.service_info{
    padding: 2rem;


}
.service_info p{
    margin:1.2rem 0 2rem;
    font-size:0.9rem;
}
.locations{
    background: #2e3267;

}
.locations h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.locations_container{
    display:grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.location_left p{
    margin: 1rem 0 3rem;

}
.location_left{
    margin-right: 4rem;
}
.location_right{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}



    
.location h5{
    margin: 2rem 0 1rem;
    
    

}
.location p{
    font-size: 1.5rem;
    margin-bottom:20px;
}
footer{
    background: #424890;
    padding-top:5rem;
}
.footer_container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer_container > div h4 {
    margin-bottom: 1.2rem;
}
.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li {
    margin-bottom: 0.7rem;

}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_socials{
    display:flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.footer_copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid #424890;
}
@media  screen and (max-width: 1024px){
    .container{
        width:90%;
    }
    h1{
        font-size:2.2rem;
    }
    h2{
        font-size:1.7rem;
    }
    h3{
        font-size:1.4rem;
    }
    h4{
        font-size:1.2rem;
    }
    nav button{
        display:inline-block;
        background: transparent;
        font-size: 1.8rem;
        color:#fff;
        cursor:pointer;
    }
    nav button#close-menu-btn{
        display:none
    }
    .nav_menu{
        position:fixed;
        top:5rem;
        right:5%;
        height:fit-content;
        width:18rem;
        flex-direction: column;
        gap:0;
        
    }
    .nav_menu li{
        width:100%;
        height:5.8rem;
    }
    .nav_menu li a{
        background:#6c63ff;
        box-shadow:-4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width:100%;
        height:100%;
        display:grid;
        place-items: center;
    }
    .nav_menu li a:hover{
        background:#2e3267;
        color:#fff;
    }
    header{
        height:52vh;
        margin-bottom: 4rem;
    }
    .header_container{
        gap:0;
        padding-bottom: 3rem;
    }

    .categories{
        height:fit-content;
    }
    .categories_container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories_left{
        margin-right:0;
    }
    
}
@media screen and(max-width:600px){
    .container{
        width:94%;

    }
    .nav_menu{
        right:3%;
    }
    header{
        height:10vh;
    }
    .header_container{
        grid-template-columns:1fr;
        text-align:center;
        margin-top:0;
    }
    .header_left p{
        margin-bottom:1.3rem;
    }
    .categories_right{
        grid-template-columns:1fr 1fr;
        gap:0.7rem;
    }
    .category{
        padding:1rem;
        border-radius: 1rem;
    }
    .service_container{
        grid-template-columns:1fr;
    }
    .locations_container{
        grid-template-columns:1fr;
    }
    .location_left p{
        margin-bottom:1.3rem;
    }
    .location_right{
        grid-template-columns:1fr 1fr;
    }
    .footer_container{
        grid-template-columns: 1fr;
        text-align:center;
        gap: 2rem;
    }
    .footer_1 p{
        margin:1rem auto;
    }
    .footer_socials{
        justify-content: center;
    }
}
    
